<h1><%= @list.title %> List Page</h1>

<%= link_to "IF PARENT, +ADD an item", new_item_path(:list_id => @list.id) %>

<ul>
  <% @list.items.each do |item| %>
    <li><%= link_to item.title, item %></li>
  <% end %>
</ul>

<p>If Parent, show stats.</p>

<p>If Benef, show buy links.</p>



