<h1><%= @list.title.titleize %> List Page</h1>
<p>List Created: <%= time_ago_in_words(@list_added).titleize %> Ago</p>

<h3></h3>
<% if is_parent? %>
<h1> <%= link_to "+ADD an item", new_item_path(:list_id => @list.id) %> </h1>
<% else %>
<h1> Not a parent </h1>
<% end %>

<ul>
  <% @list.items.each do |item| %>
    <li class="list"><%= link_to item.title.titleize, item %></li>
  <% end %>
</ul>

<p>If Parent, show stats.</p>

<p>If Benef, show buy links.</p>



