<h1>Kid's Show Page</h1>

<%= @kid.first_name %>'s Page

<br>
<br>

<%= link_to "Create a New List - IF PARENT", new_list_path  %>

<br>
<br>

<%= link_to "This specific Kid's Lists - link goes no where", '#' %>


