<h1><%= @kid.first_name %>'s Page</h1>

<br>
<h3><%= link_to "Create a New List - IF PARENT", new_list_path(:kid_id => @kid.id) %></h3>

<ul>
  <% @kid.lists.each do |list| %>
    <li class="list"><%= link_to list.title.titleize, list %> | <%= link_to 'Delete List', list, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  <% end %>
</ul>

<br>

<p>ONLY HAVE THE LISTS SHOW UP IF BENEF -- NO CREATE LIST OPTION</p>

