<h1><%= @item.title %>'s Show Page</h1>

<p>Show the details of the item.</p>

<p>Image and URL</p>

<span>Price</span>

<p>If BENEF, show BUY button below.</p>
<%= submit_tag 'Buy' %>
<p>redirect_to Purchases PAGE</p>

<%= link_to 'Back', "#" %>
