@import url(http://fonts.googleapis.com/css?family=Average+Sans|Englebert);
@import url(http://fonts.googleapis.com/css?family=Luckiest+Guy);
@import url(http://fonts.googleapis.com/css?family=Rokkitt:400,700);

/* --------------------- SETUP --------------------- */

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firefox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right; 
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left; 
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

.text_right {
  text-align: right;
}

/* ----------------- Main Page Layout ----------------*/

body {
  font-family: 'Rokkitt', serif;
  /*font-family: 'Average Sans', sans-serif;*/
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rokkitt', serif;
}

h1, h2 {
  color: #07566b;
}

footer {
  margin-top: 100px;
  text-align: right;
}

/* ----------------- Nav Bar ----------------*/
.top-bar {
  background: white;
  color: black;
  font-family: 'Rokkitt', serif;
  height: 80px;
}

.top-bar > ul .name h1 a {
  font-family: 'Rokkitt', serif;
  font-size: 44px !important;
  }

.top-bar ul > li a:not(.button) {
  color: #06303b;
  padding: 12px 10px 0 13px;
  font-size: 20px;
}

  #home a:hover {
    color: #d76c90;
  }

   #about a:hover {
    color: #ef883b;
  }

   #contact a:hover {
    color: #e9d236;
  }

   #person a:hover {
    color: #72a9bc;
  }

  #login a:hover {
      color: #c069b1;
    }


.toggle-topbar{
  background: white;
}

#nav_button, #nav_login {
  padding-top: 15px;
  margin-left: 15px;
}
#nav_button a:hover, #nav_login a:hover {
  background: white;
}

.contain-to-grid {
  background: white;
}

/* ----------------- Home Page ----------------*/

.button {
   border-top: 1px solid #9ed3d9;
   background: #2d5559;
   background: -webkit-gradient(linear, left top, left bottom, from(#489fa9), to(#2d5559));
   background: -webkit-linear-gradient(top, #489fa9, #2d5559);
   background: -moz-linear-gradient(top, #489fa9, #2d5559);
   background: -ms-linear-gradient(top, #489fa9, #2d5559);
   background: -o-linear-gradient(top, #489fa9, #2d5559);
   padding: 11px 17px;
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   border-radius: 7px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 18px !important;
   font-family: 'Rokkitt', serif;
   text-decoration: none;
   vertical-align: middle;
   margin-left: 0px;
   letter-spacing: .75px;
   }
.button:hover {
   border-top-color: #10656e;
   background: #10656e;
   color: #ccc;
   }
.button:active {
   border-top-color: #10b5c7;
   background: #10b5c7;
   }

.home_page {
  width: 175px;
}

#slogan {
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
  margin-top: 0px !important;
}


.home_pg_img {
  margin-bottom: 0;
}

/* ----------------- List Page Layout ----------------*/

.list {
  list-style: none;
  font-size: 20px;
  list-style-position: inside; 
}

.item_image {
  margin-right: 30px;
}

.table_font, .table_font_small {
  font-size: 23px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  text-align: center;
}

.table_font_small {
  font-size: 14px;
}

table thead tr th {
  font-size: 18px;
  text-align: center;
}

.center {
  text-align: center;
}

/* ----------------- Kid's Show Page Layout ----------------*/

.about_kid {
  margin-top: 0px;
}

.bottom_border {
  border-bottom: 1px dotted #9f9f9f;
}

.edit {
  padding-top: 20px;
}

.kid_photo {
  border: 2px solid gray;
  border-radius: 3px;
}

/* ----------------- Form Layout ----------------*/
#list_title {
  width: 300px;
}

#yield {
  margin-top: 20px;
}

label {
  font-size: 20px;
}

input[type="submit"] {
  float: center;
}

textarea, #item_image {
  height: 70px;
}

.enter {
  margin-top: 30px;
  height: 50px;
  font-size: 20px;
}

.parent_account {
  margin-left: 35px;
}

.login_page {
  margin-top: 20px;
}

/* ----------------- Other ----------------*/

.buy {
  padding: 7px 10px;
  font-size: 13px !important;
}

.stripe {
  margin-right: 13px;
}

